#About {
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 56px;
}
#abt{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 32px;
}
#abtLink{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#abtLink h3{
    font-size: 4rem;
    font-weight: 600;
}
#abtP{
    max-width: 65%;
}
#abt p{
    font-size: 1.4rem;
    font-weight: 500;
}
#MissVis{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}
#MissVis img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
#img{
    max-width: 48%;
    display: flex;
    align-items: center;
}
#misVis{
    max-width: 48%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content:  center;
}
#misVis h4{
    font-size: 2.4rem;
}
#misVis p{
    font-size: 1.4rem;
}
#misVis h4 span{
    color: rgb(255, 233, 152);
}
#miss{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
#vis{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
#count{
    border-top: 1px solid rgba(47, 47, 47, 0.5);
    border-bottom: 1px solid rgba(47, 47, 47, 0.5);
    display: flex;
    padding-bottom: 20px;
    max-width: 100%;
    justify-content: space-between;
    text-align: center;
}
#count p{
    font-size: 1.5rem;
}