.nav {
    display: flex;
    flex-direction: row;
    /* gap: 120px; */
    padding-top: 28px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.nav.scrolled {
    position: fixed;
    border-bottom: 2px solid rgba(255, 255, 255, 0.078);
    background: rgba(10, 14, 21, 1);
    top: 0;
    z-index: 1000;
    padding: 14px 60px;

}

#navs {
    gap: 57px;
    display: flex;
    border: 1px solid rgba(64, 64, 64, 0.3);
    border-radius: 40px;
    padding: 20px ;
    justify-content: center;
    width:50%;
    /* transition: color 0.3s; */
}
#navs a{
    text-align: center;
}
.nav a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 700;
    /* font-size: 16px; */
}

#navImg {
    display: flex;
    width: 15%;
    align-items: center;
}
#navImg img{
    width: 45px;
    height: 40px;
    padding-right: 10px;
}
#navImg p{
    font-size: 1.2rem;
    font-weight: 700;
}

#downNav {
    display: flex;
    width: 20%;
    justify-content: end;
}

#downloadNav {
    padding: 20px 30px;
    border-radius: 40px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    text-align: center;
}

@media  (max-width:1179px) and (min-width:1024px){
    .nav {
        padding-top: 20px;
    }
    .nav.scrolled {
        padding: 12px 60px;
    
    }
    #navs {
        padding: 18px;
        gap: 47px;
    }
    .nav a {
        font-size: 0.82rem;
        font-weight: 700;
    }
    
    #navImg img{
        width: 40px;
        height: 35px;
    }
    #navImg p{
        font-size: 1rem;
    }
    #downloadNav {
        padding: 18px 25px
   }
}

@media  (max-width:1024px) and (min-width:900px){
    .nav a {
        font-size: 0.7rem;
        font-weight: 700;
    }
    #navs {
        padding: 16px;
        gap: 40px;
    }
    #downloadNav {
        padding: 16px 25px;
    }
    #navImg p{
        font-size: 0.85rem;
    }
}

@media  (max-width:899px) and (min-width:770px){
    .nav {
        padding-top: 18px;
    }
    .nav.scrolled {
        padding: 9px 35px;
    
    }
    #navs {
        padding: 18px;
        gap: 35px;
    }
    .nav a {
        font-size: 0.6rem;
    }
    
    #navImg img{
        width: 35px;
        height: 30px;
    }
    #navImg p{
        font-size: 0.8rem;
    }
    #downloadNav {
        padding: 18px 0;
        width: 100%;
   }
}
@media  (max-width:770px) and (min-width:600px){
    .nav {
        padding-top: 18px;
    }
    #navs {
        padding: 15px;
        gap: 20px;
        width: 55%;
    }
    .nav.scrolled {
        padding: 9px 35px;
    
    }
    .nav a {
        font-size: 0.6rem;
    }
    
    #navImg img{
        width: 35px;
        height: 30px;
    }
    #navImg p{
        font-size: 0.8rem;
    }
    #downloadNav {
        padding: 15px 0;
        width: 100%;
   }
}
@media  (max-width:599px) and (min-width:425px){
    .nav {
        padding-top: 18px;
    }
    #navs {
        padding: 12px;
        gap: 15px;
        width: 52%;
    }
    .nav.scrolled {
        padding: 9px 20px;
        
    }
    .nav a {
        font-size: 0.5rem;
    }
        
    #navImg img{
        width: 30px;
        height: 25px;
        padding-right: 6px;
    }
    #navImg p{
        font-size: 0.6rem;
        
    }
    #downloadNav {
        padding: 12px 0;
        width: 100%;
       }
}
@media  (max-width:500px) and (min-width:425px){
    #navs {
        padding: 11px;
        gap: 13px;
        width: 58%;
    }
    #downloadNav {
        padding: 11px 0;}
}