#Op,
#Tp {
  width: 50%;
  /* background: red; */
  padding: 30px;
}
#Op{
  padding-right:20px ;
}
#Tp{
  padding-top: 0;
}
.fitt {
  object-fit: cover;
  object-position: center;
  display: flex;
}

#Tp {
  padding-right: 0;
}

.post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

#Op .thUrl {
  height: 300px;
  width: 100%;
  border-radius: 10px;
}

#imOp img {
  object-fit: cover;
  object-position: center;
}

#OpP {
  font-size: 1.2rem;
}

#urlTit {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#titUser {
  /* width: 47%; */
  gap: 30px;
  display: flex;
  flex-direction: column;
}

#bn:hover svg {
  transform: translateX(-3px);
  transition: transform 0.2s ease;
}

#discb {
  width: 100%;
  /* border: 1px solid rgb(58, 58, 58); */
  display: flex;
  flex-direction: column;
  background: #0000003d;
  height: auto;
  border-radius: 10px;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}

#tit {
  width: 100%;
  /* border: 1px solid rgb(58, 58, 58); */
  align-self: flex-end;
  background: #0000003d;
  border-radius: 10px;
  height: 70px;
  padding: 20px 0;
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 2px; */
  padding: 10px;
}

#ev {
  display: flex;
  gap: 10px;
}

#ev img {
  height: 30px;
}

#Op {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.thUrl {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.date-badge,
.type-badge {
  pointer-events: none;
}

#useRx a,
#sk a {
  text-decoration: none;
  color: inherit;
}

/* Date badge (top-left corner) */
.date-badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 8px;
  padding: 5px 6px;
  width: 50px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.popup-content img {
  transition: opacity 0.25s ease-in-out;
}

.popup-content img.show {
  opacity: 1;
}

.date-badge.ongoing,
.date-badge.ongoing p {
  background: rgb(1, 18, 1) !important;
  color: #008000 !important;
  width: auto;
}

.date-badge.ongoing p,
.date-badge.ended p {
  padding: 4px 8px;
}

.date-badge.ended,
.date-badge.ended p {
  background: rgb(31, 1, 1) !important;
  color: #ff0000 !important;
  width: auto;

}


.date-badge .day {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0;
}

.date-badge .month {
  font-size: 0.7rem;
  margin: 0;
}

/* Post type badge (bottom-right corner) */
.type-badge {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 9px 16px;
  font-size: 0.9rem;
  border-radius: 8px;
  text-transform: capitalize;
}

.post-title {
  color: #ffffff;
  text-align: start;
  justify-content: space-between;
  width: 100%;
  background: #0000003d;
  border-radius: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  gap: 10px;
  margin-top: 5px;
  /* border-radius: 40px; */
  padding: 10px 30px 10px 10px;
}

.post-title img {
  /* width: 20px; */
  padding-right: 4px;
  /* padding-left: 10px; */
  height: 15px;
}

.frTo {
  font-size: 0.9rem;
  font-weight: bold;
}

.timee {
  font-size: 0.9rem;
}

.views {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.post-title .views p {

  display: flex;
  font-size: 0.75rem;
  align-items: center;
  /* font-weight: bold; */
}

.desci {
  font-size: 1rem;
}

#uuu {
  font-size: 1;
}

#uu {
  font-size: 0.9rem;
}

#label {
  font-size: 0.7rem;
}

#counttt {
  font-size: 1.2rem;
}

#cap::first-letter {
  text-transform: capitalize;
}

#desci {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titPr {
  font-size: 0.9rem;
}

.titdis {
  font-size: 0.85rem;
}

#butCom {
  width: 95%;
}

#constAll {
  width: 95%;
}

#cooonn,
#ticccc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background: #0000009e;
  display: flex;
  z-index: 1000;
  flex-direction: column;
  justify-content: end;
}
#countto{
  border-top-left-radius: 10px;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.133);
  border-bottom-left-radius: 10px;
}
.body-no-scroll {
  overflow: hidden;
  height: 100%;
}

:root {
  --vh: 1vh;
}

#connn,
#ticcc {
  padding-bottom: 20px;
  height: auto;
  max-height: 80vh;
  width: 100%;
  overflow-y: auto;
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
  z-index: 10000;
  background: #000;
  /* position: relative; */
  /* top: 0; */
}

#imgCon {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

#titvot {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#connn hr,
#ticcc hr {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.133);
}

#butCom {
  gap: 8px;
}

#butcocole {
  font-size: 0.9rem;
  padding: 8px 14px;
}

.firstP {
  width: 150px;
}

.secondP {
  width: 200px;
}
#container{
  justify-content: space-around;
}
@media (max-width:768px) {
  .post {
    width: 95%;
    justify-self: center;
    flex-direction: column;
    gap: 0;
  }

  #container{
    justify-content: space-around;
  }
  #Op .thUrl {
    height: 350px;
  }

  #Op,
  #Tp {
    width: 100%;
    padding: 15px;
  }
  #butCom ,#constAll {
    width: 100%;
  }
  .type-badge{
    padding: 8px 16px;
    font-size: 0.8rem;
  }
  #countto{
    border-radius: 10px;
  }
}

@media (max-width:425px) {
  #container{
    justify-content: space-between;
  }
  .type-badge{
    padding: 7px 15px;
    font-size: 0.7rem;
  }
  #butCom {
    width: 100%;
  }
  #countto{
    padding: 20px 15px;
  }
  #constAll {
    width: 100%;
  }

  .post {
    flex-direction: column;
    gap: 0;
  }

  #Op,
  #Tp {
    width: 100%;
    padding: 15px;
  }

  #Op .thUrl {
    height: 242px;
  }

  #discb,
  #tit,
  .post-title {
    border: 1px solid #ffffff22;

  }

  .frTo {
    font-size: 0.8rem;
  }

  .titPr {
    font-size: 0.85rem;
  }

  .titdis {
    font-size: 0.8rem;
  }

  #countd {
    border: 1px solid #ffffff22;
    border-radius: 10px;
  }

  .desci {
    font-size: 0.9rem;
  }

  .timee {
    font-size: 0.8rem;
    text-transform: capitalize;
  }

  #uuu {
    font-size: 0.9rem;
  }

  #uu {
    font-size: 0.8rem;
  }
}

@media (max-width:360px) {
  #butcocole {
    font-size: 0.8rem;
    padding: 8px 10px;

  }

  #butCom {
    gap: 5px;
  }

  .firstP {
    width: 150px;
  }

  .secondP {
    width: 160px;
  }
}

@media (max-width:300px) {
  #butCom {
    flex-direction: column;
    /* width: 50%; */
    align-items: center;
  }

  #butcocole {
    width: 50%;
  }
}
