#Footer {
    display: flex;
    padding: 4% 80px;
    width: 100%;
    flex-direction: column;
    gap: 60px;
    height: auto;
    background-image: url('/src/assets/image/footerBG22.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background: linear-gradient(rgba(255, 255, 255, 0.015), rgb(0, 0, 0)); */

    /* 0.75 */
    /* 0.875 */

}

#loc .cc {
    color: #ffff;
}

input {
    background: transparent;
    border: none;
    font-size: 1.155rem;
    width: 100%;
    padding-right: 20px;
    height: 100%;
    outline: none;
}

input::placeholder {
    color: #ffff;
}

#theForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form {
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 100%;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    padding: 10px;
}

#loc p {
    color: #ffffff66;
}

#Footer #form button {
    text-decoration: none;
    color: transparent;
    background: linear-gradient(90deg,rgba(108, 69, 0, 1) 0%, rgba(251, 187, 58, 1)  50%, rgba(149, 109, 1, 1) 100%);
    background-clip: context;
    -webkit-background-clip: text;
    font-weight: 500;
}

#linkone a {
    text-decoration: none;
}

#linktwo a {
    text-decoration: none;
}

#conts a {
    text-decoration: none;
}

#conts {
    display: flex;
    gap: 96px;
}

#footOne p,
#copy p,
#priv button,
#pimm,
#enO p,
#enO a button,
#loc p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.155rem;
    font-weight: 500;
}

#Footer a {
    font-size: 1rem;
    font-weight: 500;
}

#links {
    display: flex;
    flex-direction: row;
    gap: 96px;
}

#linkone {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#linktwo {
    display: flex;
    gap: 6px;
    flex-direction: column;
}

#contsT {
    gap: 6px;
    display: flex;
    flex-direction: column;
}

#contsO {
    gap: 6px;
    display: flex;
    flex-direction: column;
}

#navi {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 50%;
}

#con {
    width: 100%;
    gap: 35px;
    display: flex;
    flex-direction: column;
}

#contactss {
    display: flex;
    /* flex-direction: column; */
    gap: 96px;
}

#conn {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#loc {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}

.dav {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#footOne {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#folChat,
#tex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px;
}

#folChat a,
#tex a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.042);
    border-radius: 50px;
}

#foll {
    display: flex;
    gap: 20px;
}

#chat {
    display: flex;
    gap: 20px;
}

#Footer button {
    background: none;
    border: navajowhite;
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.055rem;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

#footTwo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: end;
    gap: 10px;
}

#en {
    display: flex;
    gap: 24px;
}

h5 a,
.popup p a,
.popup p h4,
.popup p,
m {
    color: #000000;
    /* text-decoration: none; */
}

.popup p,
.popup h5 {
    line-height: 25px;
}

#popup {
    color: #000;
    position: fixed;
    /* top: -400%; */
    /* bottom: 50%; */
    /* margin-top: -170px; */
    z-index: 90;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2f2b2b;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 100%;
    height: 600px;
    top: -1100%;
    bottom: 0;
    overflow-y: auto;
}

#priv {
    display: flex;
    /* height: 1000px; */
    flex-direction: row;

}

.btn {
    padding-left: 0;
    width: 100px;
    float: right;
    text-align: center;
    text-decoration: none;
    background-color: #e6e3e3;
    color: #000;
    padding: 5px 10px;
    font-size: 18px;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.792);
    border-radius: 8px;

}

#Footer #david {
    color: #fff;
}

@media (max-width:1179px) and (min-width:900px) {
    #Footer {
        gap: 55px;
    }

    #conts {
        display: flex;
        gap: 60px;
    }

    #footOne p,
    #copy p,
    #priv button,
    #pimm,
    #enO p,
    #enO a button,
    #loc p {
        font-size: 1rem;
    }

    input {
        font-size: 1rem;
    }

    #Footer a {
        font-size: 0.85rem;
    }

    #links {
        gap: 60px;
    }

    #navi {
        gap: 20px;
    }

    #con {
        gap: 35px;
    }

    #contactss {
        gap: 20px;
    }

    #conn {
        gap: 20px;
    }

    #loc {
        gap: 50px;
    }

    #folChat,
    #tex {
        display: flex;
        gap: 20px;
    }


    #folChat a,
    #tex a {
        padding: 8px;
    }

    #foll {
        gap: 10px;
    }

    #chat {
        gap: 10px;
    }

    #Footer button {
        font-size: 1rem;
    }

}

@media (max-width:899px) and (min-width:830px) {
    #Footer {
        gap: 50px;
    }

    #conts {
        display: flex;
        gap: 30px;
    }

    #footOne p,
    #copy p,
    #priv button,
    #pimm,
    #enO p,
    #enO a button,
    #loc p {
        font-size: 1.1rem;
    }

    input {
        font-size: 1.1rem;
    }

    #Footer a {
        font-size: 1rem;
    }

    #links {
        gap: 60px;
    }

    #navi {
        gap: 20px;
    }

    #con {
        gap: 35px;
    }

    #contactss {
        gap: 20px;
    }

    #conn {
        gap: 20px;
    }

    #loc {
        gap: 40px;
    }

    #folChat,
    #tex {
        display: flex;
        gap: 20px;
    }

    #folChat a,
    #tex a {
        padding: 8px;
    }

    #foll {
        gap: 10px;
    }

    #chat {
        gap: 10px;
    }

    #Footer button {
        font-size: 1.1rem;
    }
}

@media (max-width:830px) and (min-width:600px) {

    #Footer {
        gap: 45px;
        padding: 4% 40px;
    }

    #conts {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    #enO p {
        text-align: end;
    }

    #footOne p,
    #copy p,
    #priv button,
    #pimm,
    #enO p,
    #enO a button,
    #loc p {
        font-size: 1rem;
    }

    input {
        font-size: 1rem;
    }

    #Footer a {
        font-size: 0.95rem;
    }

    #links {
        gap: 50px;
        flex-direction: column;
    }

    #navi {
        gap: 10px;
        width: auto;
    }

    #con {
        gap: 35px;
        width: auto;
        /* align-items: end; */
    }

    #contactss {
        gap: 20px;
        flex-direction: column;
    }

    #conn {
        gap: 10px;
    }

    /* #footOne, #footTwo{ */
    /* justify-content: space-around; */
    /* padding: 0 60px; */
    /* } */
    #loc {
        gap: 40px;
    }

    #folChat,
    #tex {
        display: flex;
        gap: 10px;
    }

    #folChat a,
    #tex a {
        padding: 7px;
    }

    #foll {
        gap: 10px;
    }

    #chat {
        gap: 10px;
    }

    #Footer button {
        font-size: 1rem;
    }

    #folChat a img,
    #foll a img {
        width: 18px;
        height: 18px;
    }

    #footTwo {
        gap: 20px;
    }
}

@media (max-width:737px) and (min-width:600px) {
    #Footer {
        gap: 45px;
        padding: 4% 60px;
    }

    #contactss {
        flex-direction: column;
        gap: 20px;
    }

    #con {
        width: auto;
    }

    #theForm {
        width: 80%;
    }

    #dav {
        width: 80%;
    }
}

@media (max-width:737px) and (min-width:420px) {
    #loc {
        gap: 30px;
        /* flex-direction: row; */
    }

}
@media (max-width:599px) and (min-width:420px) {
    #Footer {
        gap: 40px;
        padding: 4% 25px;
    }

    #conts {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    #footOne p,
    #copy p,
    #priv button,
    #pimm,
    #enO p,
    #enO a button,
    #loc p {
        font-size: 0.9rem;
    }

    input {
        font-size: 0.9rem;
    }

    #Footer a {
        font-size: 0.8rem;
    }

    #links {
        gap: 40px;
        flex-direction: column;
    }

    #navi {
        gap: 10px;
        width: auto;
    }

    #con {
        gap: 30px;
        width: auto;
    }

    #contactss {
        gap: 10px;
        flex-direction: column;
    }

    #conn {
        gap: 10px;
    }

    #footOne {
        justify-content: space-between;
    }

    #theForm {
        width: 80%;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    .dav {
        width: 80%;
        /* flex-direction: row; */
        display: flex;
        gap: 10px;
    }

    #loc {
        gap: 30px;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
    }

    #folChat,
    #tex {
        display: flex;
        gap: 10px;
    }

    #enO p {
        text-align: end;
    }

    /* #tex { */
    /* gap: 130px; */
    /* } */
    #folChat a,
    #tex a {
        padding: 6px;
    }

    #folChat a img,
    #tex a img {
        width: 16px;
        height: 16px;
    }

    #foll {
        gap: 10px;
    }

    #chat {
        gap: 10px;
    }

    #Footer button {
        font-size: 0.9rem;
    }
}

@media (max-width:500px) and (min-width:425px) {

    #links,
    #conts {
        gap: 40px;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    #navvi p,
    #conn p {
        text-align: start;
    }

    #linktwo {
        /* gap:30px; */
        width: 30%;
    }

    .dav {
        width: 80%;
        flex-direction: column;
    }

    #theForm {
        width: 100%;
        text-align: center;
    }

    #nn {
        text-align: start;
    }

    #navvi,
    #conP {
        width: 100%;
    }

    #folChat,
    #tex {
        gap: 20px;
    }

    #navi,
    #conn,
    #contactss,
    #loc {
        width: 100%;
        padding: 0 10px;
        align-items: center;
    }

    #loc {
        align-items: start;
    }

    #footOne {
        flex-direction: column;
        gap: 20px;
    }

    #conn {
        flex-direction: column;
    }

    #con {
        width: 100%;
    }

    #footTwo {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    #contactss {
        justify-content: space-between;
        flex-direction: row;
    }
}

@media (max-width: 425px) {

    #theForm {
        width: 100%;
        text-align: center;
    }

    #loc {
        flex-direction: column;
    }

    #nn {
        text-align: start;
    }

    #links {
        gap: 40px;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .dav {
        /* flex-direction: column; */
        width: 100%;
    }

    #conts {
        flex-direction: column;
        gap: 30px;
        align-self: self-start;
    }

    #navvi p,
    #conn p {
        text-align: start;
    }

    #folChat,
    #tex {
        flex-direction: column;
        gap: 15px;
    }

    #navvi,
    #conP {
        width: 100%;
    }

    #navi,
    #conn,
    #contactss,
    #loc {
        width: 100%;
        /* padding: 0 50px; */
        align-items: center;
    }

    #loc {
        align-items: start;
    }

    #footOne {
        flex-direction: column;
        gap: 20px;
    }

    #conn {
        flex-direction: column;
        padding: 0;

    }

    #con {
        width: 100%;
        flex-direction: row;
        padding: 0;
    }

    #linktwo {
        width: 45%;
    }

    #footTwo {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    /* #folChat{ */
    /* flex-direction: column; */
    /* } */
    #Footer {
        gap: 70px;
        padding: 4% 25px;
    }

    #footOne p,
    #enO p,
    #copy p,
    #priv button,
    #pimm,
    #loc p {
        font-size: 0.8rem;
    }

    input {
        font-size: 0.8rem;
    }

    #Footer a {
        font-size: 0.75rem;
    }

    #contactss {
        gap: 10px;
        padding: 0;
        flex-direction: column;
        align-items: self-start;
    }

    #conn {
        gap: 10px;
    }

    #loc {
        gap: 10px;
    }

    #folChat a,
    #tex a {
        padding: 6px;
        gap: 30px;
    }

    #folChat a img,
    #tex a img {
        width: 12px;
        height: 12px;
    }

    #Footer button {
        font-size: 0.8rem;
    }

    #foll,
    #chat {
        gap: 5px;
    }

    #Footer {
        /* background-image: url('/src/assets/image/footerBgsm22.png'); */

    }
}