*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;

    font-family: open Sans;
}
body{
    background: rgba(10, 14, 21, 1);
}
#render{
    align-items: center;
    gap: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#navAndHead{
    width: 100%;
    background-image: url('/src/assets/image/headBg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 80px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 126px;
    /* background: linear-gradient(180deg, rgba(10, 14, 21, 1) , #ffffff09); */
}